langchain
torch
accelerate
transformers
sentence_transformers
streamlit
streamlit_chat
faiss-cpu
altair
tiktoken
huggingface-hub
langchain_community.vectorstores
langchain_community.document_loaders